body {
    background-color: black;
    text-align: center;
}

b {
    color: white;
}

b {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
    opacity: 0.9;
    letter-spacing: 1px;
}

#logo,
b {
    background: #fff1;
    padding: 6px;
    border-radius: 15px;
    transition: all 0.3s ease;
    animation: fadeDown 0.8s ease forwards;
}

#logo:hover {
    box-shadow: 0 0 15px #860c0c;
    transform: scale(1.1);
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}